<!DOCTYPE html>
<html lang="en">
<head>
	<title>User details</title>
	<link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/userDetailsCSS.css">
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body>
	<div class="topFooter">
		<p class="title">User details</p>
	</div>
	<p class="userName">Username: <%= user.username %></p>
	<p class="password">Password: <%= user.password %></p>
	<p class="morada">Address: <%= user.morada %></p>   
	<p class="nif">NIF: <%= user.nif %></p>
	<p class="email">Email: <%= user.email %></p>
	<p class="iban">IBAN: <%= user.iban %></p>
	<p class="fullName">Full name: <%= user.fullName %></p>
	<form action="/users/delete/<%= user._id %>" method="POST">
		<button type="submit" class="delete">DELETE USER</button>
		<button type="button" id="editUser" class="edit">EDIT USER</button>
	</form>  

		<form action="/loginPage" method="get">
			<button type="submit" class="logOut">Back to Menu</button>
		</form>

	<div class="bottomFooter">
		<p class="bottomParagraph">2018-2019 gofund.me Trademark</p>
		<form action="/users/myDonations" method="get">
			<p class="check">Check out all your donations here =></p>
			<button type="submit" class="myDonations">View my donations</button>
		</form>
	</div>

	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
				<p class="modal-title">Edit user information:</p>
				<form action="/users/update/<%= user._id %>" method="POST">
					<input type="text" class="modal-iban" id="editIban" value="<%= user.iban %>" name="iban">
					<input type="password" class="modal-pass" id="editPassword" value="<%= user.password %>" name="password">
					<input type="text" class="modal-confPass" id="confirmPass" placeholder=" Confirm password">
					<input type="text" class="modal-morada" id="editMorada" value="<%= user.morada %>" name="morada">
					<input type="text" class="modal-nif" id="editNIF" value="<%= user.nif %>" name="nif">
					<input type="text" class="modal-email" id="editNIF" value="<%= user.email %>" name="email">
					<button type="submit" id="editButton" class="modal-confirm">Confirm changes</button>
				</form>
                <script>
                    function closeRegistry2(){
                        var modal3 = document.getElementById('myModal');
                        modal3.style.display = "none";
                    }
                </script>
		</div>
	</div>

	   <script>
        // Get the modal
        var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("editUser");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal      
        btn.onclick = function() {
        	modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        	modal.style.display = "none";
        }
        </script>

</body>

</html>