<!DOCTYPE html>
<html lang="en">
<head>
    <title>Campaign</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/campaignDetailsCSS.css">
    <script type="text/javascript" src="javascripts/loginJS.js"></script>
</head>

<body class="topFooter">
	<h1 class="title">Campaign details</h1>
    <p class="titulo">Title: <%= campanha.title %> | State: <%= campanha.estado %></p>
    <p class="desc">Description: <%= campanha.descricao %> | Creator: <%= campanha.creatorUsername %></p>
    <p class="val">Value to reach: <%= campanha.valorAtingir %> €</p>
    <p class="valCurrent" id="valCurrent">Current value: <%= campanha.valorCorrente %> €</p>
    <p class="iban">IBAN: <%= campanha.iban %> | Responsible: <%= campanha.responsavel1 %></p>
    <p class="type">Type: <%= campanha.type %> | Donations percentage: <%= (campanha.valorCorrente * 100) / campanha.valorAtingir %> %</p>

    <form action="/loginPage" method="get">
        <button type="submit" class="home">Home</button>
    </form>

    <% if(campanha.valorCorrente > 0) { %>
        <form action="/campaign/update/<%= campanha._id %>" method="POST">
            <button type="submit" id="desativar" class="delete">DISABLE</button>
        </form>
    <% } else { %>
    <form action="/campaign/delete/<%= campanha._id %>" method="POST">
        <button type="submit" id="deleteBT" class="delete">DELETE</button>
    </form>
    <% } %>

    <form action="/campaign/campaignDonators/<%= campanha._id %>" method="GET">
        <button type="submit">SEE ALL DONATORS</button>
    </form>

    <div class="bottomFooter">
        <p class="bottomParagraph">2018-2019 gofund.me Trademark</p>
    </div>

</body>
</html>