<!DOCTYPE html>
<html>
  <head>
    <title>Campaign Database</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/campaignList.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png"/>
  </head>
  <body>

    <div class="topFooter">
       <h1 class="title">The wall of campaigns</h1> 
       <form action="/loginPage" method="get">
           <button type="submit" class="back">Back to menu</button> 
       </form>
    </div>

    <% if(campanhas.length > 0) { %>
    <table border="1" class="customers">
      <thead>
        <tr>
          <th>Description</th>
          <th>Target value</th>
          <th>IBAN</th>
          <th>Responsibles</th>
          <th>Title</th>
          <th>Type</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < campanhas.length; i++) { %>
          <tr>
            <td><a href="/campaign/show/<%= campanhas[i]._id %>"><%= campanhas[i].descricao %></a></td>
            <td><%= campanhas[i].valorAtingir %> €</td>
            <td><%= campanhas[i].iban %></td>
            <td><%= campanhas[i].responsaveis %></td>
            <td><%= campanhas[i].title %></td>
            <td><%= campanhas[i].type %></td>
            <td><%= campanhas[i].estado %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <% }else{ %>
    <h1>Currently there are no campaigns</h1>
    <% } %>
  </body>
</html>
