<!DOCTYPE html>
<html lang="en">
<head>
    <title>Campanha</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/campaignDetailsCSS.css">
    <script type="text/javascript" src="javascripts/loginJS.js"></script>
</head>

<body class="topFooter">
	<h1 class="title">Informações de campanha</h1>
    <p class="titulo">Titulo: <%= campanha.title %> | Estado campanha: <%= campanha.estado %></p>
    <p class="desc">Descrição: <%= campanha.descricao %> | Creator: <%= campanha.creatorUsername %></p>
    <p class="val">Valor atingir: <%= campanha.valorAtingir %> €</p>
    <p class="valCurrent" id="valCurrent">Valor corrente: <%= campanha.valorCorrente %> €</p>
    <p class="iban">IBAN: <%= campanha.iban %> | Responsavel: <%= campanha.responsavel1 %></p>
    <p class="type">Tipo: <%= campanha.type %> | Percentagem concluido: <%= (campanha.valorCorrente * 100) / campanha.valorAtingir %> %</p>

    <form action="/loginPage" method="get">
        <button type="submit" class="home">Home</button>
    </form>

    <% if(campanha.valorCorrente > 0) { %>
        <form action="/campaign/update/<%= campanha._id %>" method="POST">
            <button type="submit" id="desativar" class="delete">Desativar CAMPAIGN</button>
        </form>
    <% } else { %>
    <form action="/campaign/delete/<%= campanha._id %>" method="POST">
        <button type="submit" id="deleteBT" class="delete">DELETE CAMPAIGN</button>
    </form>
    <% } %>

    <div class="bottomFooter">
        <p class="bottomParagraph">2018-2019 gofund.me Trademark</p>
    </div>

</body>
</html>