<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
</head>
<body>
    <h1>WEBSITE STATS</h1>
	<p>Total users registed in the website: <%= totalUsers %></p>
    <p>Total campaigns in the website: <%= totalCampanhas %></p>
    <p>Currently active campaigns in the website: <%= active %></p>
    <p>Disabled campaigns at the moment: <%= disabled %></p>
    <p>Total donations in the website: <%= totalDonations %></p>
    <p>Value of all donations: <%= totalMontanteDonations %> €</p>
    <p>Value of donations in state of processing: <%= totalDonationsProcessing %>€</p>
    <p>Value of all canceled donations: <%= totalDonationsCanceled %>€</p>
</body>
</html>