<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalhes utilizador</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/userDetailsCSS.css">
</head>

<body class="topFooter">
	<p class="title">Detalhes utilizador</p>
    <p>Username: <%= user.username %></p>
    <!--<p>Password: <%= user.password %></p>-->
    <!--<p>Morada: <%= user.morada %></p>-->   
    <!--<p>NIF: <%= user.nif %></p>-->
    <!--<p>Email: <%= user.email %></p>-->
    <form action="/users/delete/<%= user._id %>" method="POST">
        <!--<button type="submit">DELETE</button>-->
    </form>  
</body>

</html>